absl-py==2.2.1
asgiref==3.9.1
attrs==25.3.0
click==8.1.8
cmake==4.0.0
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
Django==5.2.5
dlib==19.24.6
face-recognition==1.3.0
face_recognition_models==0.3.0
fonttools==4.56.0
kiwisolver==1.4.8
markdown-it-py==4.0.0
matplotlib==3.10.1
mdurl==0.1.2
mediapipe-rpi4==0.8.8
numpy==2.2.4
opencv-python==4.11.0.86
packaging==24.2
pillow==11.1.0
protobuf==6.30.2
Pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
rich==14.1.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
